body {
	margin: 0 auto;
	padding: 0;
	
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	background-color: #ffffff;
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
	background-position: top center;
}

a {
	color: #ffffff;
}

.hit-items a:hover,
.footer-contacts-container a:hover,
.footer-copyright-container a:hover {
  color: #f19487;
}

.btn {
  display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	display: inline-block;
  padding: 12px 22px;

  font-weight: 600;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-color: linear-gradient (to bottom, #f26843 0%,
   #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.banner-positioner {
  padding-top: 45px;
}

.banner-positioner.first-banner-pos {
  padding-left: 370px;
}

.banner-positioner.second-banner-pos {
  padding-left: 350px;
}





.header-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-color: linear-gradient (to bottom, #f26843 0%,
   #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.header-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.header-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slide {
  display: none;
}

#product-1:checked ~ .content-wrapper #slide1,
#product-2:checked ~ .content-wrapper #slide2,
#product-3:checked ~ .content-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .content-wrapper label[for="product-1"],
#product-2:checked ~ .content-wrapper label[for="product-2"],
#product-3:checked ~ .content-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-main {
  margin: 0;
}

.main-navigation {
	font-weight: 700;
	color: #ffffff;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
}

.site-navigation {
	font-size: 16px;
	line-height: 18px;
}

.user-navigation a {
  text-decoration: none;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.time-header {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
}

.phone-header {
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}

.slider-title {
	width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
	color: #ffffff;
}

.top-button {
	font-weight: bold;
	line-height: 44px;
	font-size: 32px;
}

.slides-switches {
	list-style: none;
}

.hit-items {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.hit-items p {
  text-align: center;
}

.hit-items h3 {
	font-size: 45px;
	line-height: 45px;
}

.hit-items h3 > .kg {
	font-size: 30px;
}

.features {
	background-image: url(../img/seo-background.png);
  background-size: cover;
	background-repeat: no-repeat;
	width: 1146px;
	height: 306px;
	color: #323232;
}

.features-describe {
	font-size: 24px;
	line-height: 30px;
}

.features-item {
	font-size: 16px;
}

.news-banner a {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
}

.news-banner p {
  color: #323232;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 20px;
}

.subscribing-banner p {
	line-height: 22px;
	color: #5a5a5a;
}

.footer-contacts a,
.footer-copyright b,
.footer-copyright a {
  font-size: 13px;
  line-height: 18px;
}

/*сетка*/



.content-wrapper {
	min-width: 900px;
	max-width: 1146px;
	margin: 0 auto;
}

.main-header {
	min-height: 120px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
}

.main-navigation img {
  margin-top: 10px;
}

.site-navigation {
	display: flex;
  flex-wrap: wrap;
	margin: 0;
	padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.site-navigation li {
  display: inline-block;
}

.user-navigation {
	display: flex;
	margin-left: auto;
  margin-top: 23px;
}

.header-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -15px;
}

.time-header {
	padding: 0;
}

.phone-header {
	margin-top: -10px;
}

/*slider*/

.slider {
  position: relative;
	padding-top: 230px;
  text-align: center;
  color: #ffffff;
}

.title-container a {
	display: inline-block;
	padding-top: 55px;
}

.header-title {
	margin: 0;
}

.slider-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-list {
  padding: 0;
}

/**/

.banner-items {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
}

.banner-items li h2 {
  margin: 0;
  padding: 0;
}

.banner-items li p {
  margin: 0;
  padding: 0;
}

.banner-items li:first-child {
  width: 560px;
  height: 229px;
  background: url(../img/raspberries.png) no-repeat;
}

.banner-items li h2 {
  padding-top: 20px;
  padding-left: 20px;
}

.banner-items li p {
  padding-top: 25px;
  padding-left: 20px;
}



.banner-items li:last-child {
  width: 560px;
  height: 229px;
  background: url(../img/chocolate.png) no-repeat;
}

.banners ul {
  list-style: none;
}

/**/

.hit-items div h3,
.hit-items div p {
  margin: 0;
  padding: 0;
}

.hit-items div h3 {
  position: absolute;
  bottom: 70px;
}

.hit-items div {
  width: 267px;
  position: relative;
}

.hit-items div::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/hit-icon.png);
    background-position: 0 0;
    width: 61px;
    height: 61px;
    z-index: 10;
}

/**/

.features-describe {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
  margin-top: 40px;
}

.features-top-container {
  display: flex;
  justify-content: space-between;
}

.features-bottom-container {
  display: flex;
  justify-content: space-between;
}

.features-top-container p {
  margin: 0;
  padding: 0 60px;
}

.features-bottom-container p {
  margin: 0;
  padding: 0 60px;
}

.features p {
  display: inline-block;
  margin-top: 25px;
  width: 500px;
}

/**/
.news-banner {
  margin: 0;
  padding: 0;
}

.news-banner ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.news-banner li:first-child {
  list-style: none;
  background: url(../img/news-banner.png) no-repeat;
  width: 560px;
  height: 220px;
}

.news-banner li:last-child {
  list-style: none;
  background: url(../img/subs-banner.png) no-repeat;
  width: 560px;
  height: 220px;
}


.news-banner li a {
  display: inline-block;
  margin-top: 15px;
  width: 290px;
  margin-bottom: 0;
  margin-left: 20px;
}

.news-banner li form {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.news-banner li input {
  display: inline-block;
  width: 65%;
}

.news-banner li .header-button {
  color: #5a5a5a;
  margin-right: 40px;
}

/**/

.main-footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0;
  padding: 0;
}

.footer-social div {
  width: 300px;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 27px;
}

.footer-social li {
  list-style: none;
  padding-right: 10px;
}

.footer-contacts-container {
  display: flex;
  width: 400px;
}

.footer-contacts {
  margin: 0;
}

.footer-contacts li {
  list-style: none;
}

.footer-copyright {
  width: 200px;
  margin: 0;
}

.footer-copyright-container img,
.footer-copyright-container b,
.footer-copyright-container a {
  margin: 0;
  padding: 0;
}

.news-banner .btn {
  margin-right: 27px;
}

.mail {
  border-radius: 5px;
  border-style: solid;
  border: none;
  border: 1px solid #d3d3d2;
  padding-left: 15px;
  margin-right: 12px;
  margin-left: 27px;
}

.user-navigation a {
    display: inline-block;
    position: relative;
    margin-left: 9px;
    padding: 8px 33px;
    padding-left: 43px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(255,255,255,.2);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    border-radius: 17px;
    cursor: pointer;
}



.user-navigation .page-header-basket-btn {
  padding: 8px 33px;
  padding-right: 34px;
  padding-left: 43px;
}

.user-navigation .page-header-search-btn {
    padding: 0;
    margin: 0;
    width: 33px;
    height: 33px;
}

.user-navigation .page-header-search-btn::before {
    content: "";
    position: absolute;
    vertical-align: top;
    top: 50%;
    left: 50%;
    background-image: url(../img/search-icon.png);
    background-position: center;
    width: 17px;
    height: 17px;
    transform: translate(-50%,-50%);
}

.page-header-search-btn::before {
    content: '';
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
}

.page-header-login-btn {
  display: inline-block;
  padding-left: 5px;
}

.page-header-login-btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 15px;
    background-image: url(../img/login-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 19px;
}

.page-header-basket-btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 15px;
    background-image: url(../img/basket-icon.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
}

.nav-a {
  display: inline-block;
  vertical-align: top;
  padding: 6px 14px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #ffffff;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
  padding: 8px 14px;
  border: 2px solid #c7c6c5;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  padding: 8px 14px;
  border: 2px solid #8fbdec;
}

textarea:hover {
  padding: 8px 14px;
  border: 2px solid #c7c6c5;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider-controls label:active {
  background-color: #ffffff;
}

.user-navigation .nav-a:not(.page-header-basket-btn):hover {
  color: #323232;
  background-color: #f8f7f4;
  text-decoration: none;
}

.user-navigation .page-header-search-btn:hover::before {
  background-image: url(../img/search-hover-icon.png);
  background-position: center;
}

.user-navigation .page-header-login-btn:hover::before {
  background-image: url(../img/login-hover-icon.png);
  background-position: center;
}

/*-----------------------------------------------*/

.main-nav {
  padding: 25px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-nav__item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
}

.main-nav__item:hover {
  background-color: #f7f6f3;
  border-radius: 16px;
}

.main-nav__item:hover .nav-a {
  color: #323232;
  text-decoration: none;
}





.catalog-popup li {
  list-style: none;
  color: black;
}

.catalog-popup a {
  text-decoration: none;
}

.catalog-popup {
    padding: 0;
    min-width: 141px;
    list-style-type: none;
    background-color: #f8f7f4;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}

.catalog-popup-item {
    display: block;
    padding: 7px 18px 9px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.catalog-popup li:not(.title):hover {
    background-color: #fbded8;
    cursor: pointer;
}

.catalog-popup-item.title {
    position: relative;
    margin: 0 6px;
    padding: 9px 12px 12px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    border-bottom: 1px solid #d1d0ce;
    cursor: default;
}

.catalog-popup-wrapper {
    position: absolute;
    margin: 0;
    padding: 5px 0 0;
    z-index: 100;
    visibility: hidden;
}

.main-nav__item:hover .catalog-popup-wrapper {
    visibility: visible;
}